[include]
	path = .gitconfig.local

[alias]
	s = status -s
	l = log --graph --abbrev-commit --name-status
	graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short

[user]
	email = alpha22jp@gmail.com
	name = alpha22jp

[push]
	default = matching

[core]
	quotepath = false
	editor = emacsclient

[credential]
	helper = cache --timeout=3600
