[alias]
    s = status -s
    b = branch
    co = checkout
    df = diff --no-prefix
    l = log --graph --abbrev-commit --name-status --date=local
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    svn-url = config --get svn-remote.svn.url
    svn-clone = svn clone --trunk=trunk --branches=branches

[user]
    email = alpha22jp@gmail.com
    name = alpha22jp

[core]
    quotepath = false
    editor = emacsclient

[color]
    ui = auto

[pager]
    branch = cat

[include]
    path = .gitconfig.local
    path = .gitconfig.os
