[alias]
    s = status -s
    b = branch
    co = checkout
    df = diff
    l = log --graph --abbrev-commit --name-status --date=local
    graph = log --graph --date-order --all --pretty=format:'%h %Cred%d %Cgreen%ad %Cblue%cn %Creset%s' --date=short
    svn-url = config --get svn-remote.svn.url
    svn-clone = svn clone --trunk=trunk --branches=branches

[user]
    email = alpha22jp@gmail.com
    name = alpha22jp

[core]
    quotepath = false
    editor = emacsclient

[pull]
    rebase = false

[color]
    ui = auto

[pager]
    branch = cat

[include]
    path = .gitconfig.local
    path = .gitconfig.os
    path = .gitconfig.github

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[tig]
    main-view = id:yes date:local=yes author:full commit-title:graph=yes,refs=yes
